/* ==|====================
   Partials/Modules/about
   -------INDEX--------
   #title
   #text
   ======================= */

/* #title
 *-------------------------------------------------------*/
.content-title{
	text-align: center;
}

.title{
	color: $pink;
	margin-bottom: 20px;
}

.line{
	border-bottom: solid 2px $pink;
  margin: 0 auto;
  width: 80px;
}

/* #text
 *-------------------------------------------------------*/
.content-text{
	margin-top: 29px;

	p{
		width: 50%;
    margin: 0 auto;
	}
}