/* ==|====================
   Partials/Modules/Header
   -------INDEX--------
   #Container of header
   #Header-two
   ======================= */

/* #Container of header
 *-------------------------------------------------------*/
.header {
  margin-bottom: 100px;
  width: 100%;
  height: 600px;
}

/* #Header-two
 *-------------------------------------------------------*/
.header-two{
  position: relative;
  height: 600px;
  width: 100%;
}

.circle{
  background-position: fixed;
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
}

.content-name-skill {
  position: absolute;
  top: 145px;
  text-align: center;
  transform: scale(0);
  filter: blur(10px);
  animation-name: zoomIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  width: 100%;

  h1{
    margin-top: 50px;
    opacity: 1;
    position: relative;
    color: $pink;
    font-weight: 400;
    margin-right: 10px;
    padding: 30px 0;
    display: inline-block;
    border-top: 3px solid $pink;
    border-bottom: 3px solid $pink;
    letter-spacing: 10px;
  }

  p{
    @include font-size(18);
    font-family: $title;
    text-transform: uppercase;
    color: $pink;
    margin-top: 14px;
    letter-spaceing: 5px;
    line-height:1.2em;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(.3);
    filter: blur(10px);
  }
  40% {
    transform: scale(1);
  }
  100% {
    filter: blur(0);
    transform: scale(1);
  }
}