/* ==|====================
   Partials/Modules/Navigation
   -------INDEX--------
   #Container of navigation
   #Logo
   #Navigation

   #Nav 2
   ======================= */

/* #Container of navigation
 *-------------------------------------------------------*/
.container-nav{
	@include span-columns(2);
	background-color: $orange;
  height: 100%;
  text-align: center;
}

/* #Logo
 *-------------------------------------------------------*/
.content-logo{
	margin: 50px 0;
}

/* #Navigation
 *-------------------------------------------------------*/
.main-nav{

	a{
		@include font-size(18);
		font-family: $title;
		color:#000;
		display: block;
		margin-bottom: 20px;
	}
}

/* #Nav 2
 *-------------------------------------------------------*/
.content-navigation {
	width: 100%;
	padding: 30px 0;
	background-color: $green; 
}

 .container-logo {
 	float: left;
 }

 .nav {
	float: right;

	a{
		@include font-size(18);
		font-family: $title;
		color: #fff;
		margin-right: 20px;
	}
 }