/* ==|====================
   Partials/Modules/Navigation
   -------INDEX--------
   #Container of navigation
   #Logo
   #Navigation

   #Nav 2
   ======================= */

/* #Container of navigation
 *-------------------------------------------------------*/
.container-nav{
	@include span-columns(3);
	background: $pink;
  height: 100%;
  text-align: center;
}

/* #Logo
 *-------------------------------------------------------*/
.content-logo{
	margin: 50px 0;
	transform: scale(0);
  filter: blur(10px);
  animation-name: zoomIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;

  h1{
  	opacity: 1;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    letter-spacing: 10px;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(.3);
    filter: blur(10px);
  }
  40% {
    transform: scale(1);
  }
  100% {
    filter: blur(0);
    transform: scale(1);
  }
}
/* #Navigation
 *-------------------------------------------------------*/
.main-nav{

	a{
		@include font-size(18);
		font-family: $title;
		color:#fff;
		display: block;
		margin-bottom: 20px;
	}
}

/* #Nav 2
 *-------------------------------------------------------*/
.content-navigation {
	width: 100%;
	padding: 30px 0;
	background-color: $green; 
}

 .container-logo {
 	float: left;
 }

 .nav {
	float: right;

	a{
		@include font-size(18);
		font-family: $title;
		color: #fff;
		margin-right: 20px;
	}
 }